<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main_content">
        <div class="main_content1">
            <div class="main_content1_img">
                <h1>
                    <img
                        src="https://i1-thethao.vnecdn.net/2024/12/27/KikeLinaresPHvsThailandLeg-173-9874-6266-1735313904.jpg?w=680&h=408&q=100&dpr=1&fit=crop&s=7seGhdvL0ow-AdeaXAU4aw"
                    />
                </h1>
            </div>
            <div class="main_content1_text">
                <h1>
                    <a
                        href="https://vnexpress.net/thai-lan-thua-philippines-o-phut-bu-cuoi-4832881-tong-thuat.html"
                        >
                    </a>
                </h1>
                <p>
                    <a
                        href="https://vnexpress.net/thai-lan-thua-philippines-o-phut-bu-cuoi-4832881-tong-thuat.html"
                        >
                    </a>
                </p>
            </div>
        </div>
        <div class="main_content2">
            <div class="main_content2_1">
                <p>
                    <a
                        href="https://vnexpress.net/tau-dien-ben-thanh-suoi-tien-dung-chay-do-mua-lon-4832884.html"
                    >
                       </a
                    >
                </p>
                <img
                    src="https://i1-vnexpress.vnecdn.net/2024/12/27/z6172255553984-7ae3a0814a6b683-2987-2792-1735303217.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=0CLVEUGC4HCyjgr-ZTWT5Q"
                />
            </div>
            <div class="main_content2_2">
                <p>
                    <a
                        href="https://vnexpress.net/thu-tuong-phan-dau-tang-truong-gdp-nam-sau-dat-hai-chu-so-4832866.html"
                    >
                       </a
                    >
                </p>
                <img
                    src="https://i1-kinhdoanh.vnecdn.net/2024/12/01/thutuong-1733034517-1733034530-1879-1733034640.jpg?w=180&h=108&q=100&dpr=1&fit=crop&s=gO5VphzoNhu9s0sh3X5H8g"
                />
            </div>
            <div class="main_content2_3">
                <p class="title"></p>
                <p1></p1><br />
                <p2
                    ></p2
                >
                <div class="jesse">
                    <a
                        href="https://vnexpress.net/tac-gia/jesse-peterson-1050.html"
                    ></a>
                    <img
                        src="https://i1-vnexpress.vnecdn.net/2017/11/17/jessepngpng-1510857625.png?w=100&h=100&q=100&dpr=2&fit=crop&s=Idkqaz_9ddgZIHvmwYxIBQ"
                    />
                </div>
            </div>
        </div>
    </div>
</body>
</html>