<div class="ykien_left">
    <section class="ykien_nav">
        <h1><a href="https://vnexpress.net/y-kien">Ý kiến</a></h1>
    </section>
    <div class="ykien_box">
        <h1>
            <a
                href="https://vnexpress.net/tuoi-40-roi-ghe-bien-che-cong-chuc-viec-nhe-luong-deu-4835534.html"
                >Tuổi 40 rời ghế biên chế công chức 'việc nhẹ, lương
                đều'</a
            >
        </h1>

        <p>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Khoảng một năm gần đây, tôi thường đi ăn, đi cafe
                cùng đồng nghiệp nữ và thấy có cảm tình với cô
                ấy.</a
            >
        </p>
    </div>
    <div class="ykien_pr">
        <h1>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Vợ chồng cãi nhau vì đồ cũ không dùng là tống về
                quê</a
            >
        </h1>
        <p>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Khoảng một năm gần đây, tôi thường đi ăn, đi cafe
                cùng đồng nghiệp nữ và thấy có cảm tình với cô
                ấy.</a
            >
        </p>
    </div>
    <div class="ykien_pr">
        <h1>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Vợ chồng cãi nhau vì đồ cũ không dùng là tống về
                quê</a
            >
        </h1>
        <p>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Khoảng một năm gần đây, tôi thường đi ăn, đi cafe
                cùng đồng nghiệp nữ và thấy có cảm tình với cô
                ấy.</a
            >
        </p>
    </div>
    <div class="ykien_pr">
        <h1>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Vợ chồng cãi nhau vì đồ cũ không dùng là tống về
                quê</a
            >
        </h1>
        <p>
            <a
                href="https://vnexpress.net/toi-da-say-nang-dong-nghiep-nu-4835502.html"
                >Khoảng một năm gần đây, tôi thường đi ăn, đi cafe
                cùng đồng nghiệp nữ và thấy có cảm tình với cô
                ấy.</a
            >
        </p>
    </div>
    <div class="border_ykien"></div>
</div>