.ct1 {
	padding-top: 20px;
}
.hagl h1 a {
	font-size: 14px;
	line-height: 1.2;
	display: block;
}
.hagl {
	display: flex;
	gap: 10px;
	padding-left: 20px;
	
	justify-content: space-around;
}
.hagl_pr {
	border-right: 1px solid #e5e5e5;
	width:200px;
	padding: 0 10px 0 0;
}
.wl {
	width:200px;
}
.border10 {
	padding: 1px;
	background: #e5e5e5;
	margin-top: 10px;
}
.jeju1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 20px;
}
.jeju1_ct{
	width:180px;
	gap:10px;
}
.jeju1_ct a b{
	font-size:14px;
}
.jeju {
	display: flex;
	padding-left: 20px;
	padding-top: 10px;
}
.border4 {
	padding: 1px 0 0 0;
	background: #e5e5e5;
	margin-top: 20px;
	margin-left: 10px;
}
.jeju1_ct a:hover {
	color: blue;
}
.bds h1 a {
	font-size: 14px;
	line-height: 1.2;
	display: block;
}
.bds {
	display: flex;
	gap: 10px;
	padding-left: 20px;
		
	justify-content: space-around;
	}
.bds_pr {
		border-right: 1px solid #e5e5e5;
		width:200px;
		padding: 0 10px 0 0;
}
.bds_right {
		width:200px;
}
	
.bds_bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-left: 20px;
}
.bds_ct{
		width:180px;
		gap:10px;
}
.bds_ct a b{
		font-size:14px;
}
	
	
.bds_ct a:hover {
		color: blue;
}
	